<!DOCTYPE html>
<html>
    <head>
        <title>AWSUploadPanel</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  /* background-color: #091921;
  color: #fff;
  display: flex;
  justify-content: center; */
}
.droparea {
  border: 1px dashed gray;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.hover {
  color: #fff;
  border: 1px dashed #fff;
}
.valid {
  color: #fff;
  background-color: green;
  border: 1px solid green;
}
.invalid {
  color: #fff;
  background-color: red;
  border: 1px solid red;
}
        </style>
            <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
          />
          <link rel="stylesheet" href="/css/style.css" />
          <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <%-body %>
        </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
    </body>
</html>